html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --primary-color: #121212;
  --secondary-color: #242424;
  --text-color: rgb(238, 236, 236);
  --subtext-color: rgb(167, 167, 167);
  --accent-color: #40bfb9;
}

.light {
  --primary-color: white;
  --secondary-color: rgb(238, 237, 237);
  --text-color: black;
  --subtext-color: grey;
  --accent-color: #40bfb9;
}
