.intro {
  display: flex;
  flex-direction: column;
}

.intro ul {
  margin: 0;
  margin-top: 1rem;
  list-style-type: none;
  /* font-size: ; */
  /* padding-left: 10px; Indent the list item */
}

.intro ul li {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.intro ul li::before {
  content: "#";
  color: var(--accent-color);
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 10px;
}

.intro ul li a {
  color: var(--text-color);
}

.intro ul li a:hover {
  text-decoration: none;
}

.intro .name {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
  line-height: 1.5;
}

.highlight {
  border-bottom: 3px solid var(--accent-color);
}

.articlesHeading {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  .intro .name {
    font-size: 3rem;
    margin: 2rem 0;
  }
}
