.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 10px;
}

.navbar nav a {
  color: var(--text-color);
  border-radius: 0;
  font-size: 1.1rem;
}

.navbar nav a:hover {
  border-bottom: 2px solid var(--accent-color);
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  /* letter-spacing: 3px; */
  /* text-transform: uppercase; */
}

.logo a {
  color: var(--text-color);
}

.logo a:hover {
  text-decoration: none;
}

.logo .lightSwitch {
  margin-left: 0.5rem;
}

.logo .lightSwitch svg {
  fill: var(--text-color);
  height: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: block;
    width: 100%;
    padding: 0;
  }
}
