.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
}

.logo a {
  color: var(--text-color);
}

.logo a:hover {
  text-decoration: none;
}

.logo .lightSwitch{
  margin-left: 0.5rem;
}

.logo .lightSwitch svg{
  fill: var(--text-color);
  height: 1.5rem;
}

.navGroup {
  display: flex;
}

.navItem {
  margin: 1rem;
}

.active {
  text-decoration: underline red;
}

.navItem a {
  color: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  .navbar {
    width: 100%;
  }
}
