.projectContainer {
  display: flex;
  height: 150px;
}

.imageContainer {
  width: 20%;
}

.imageContainer .image {
  border-radius: 5px;
}

.metadata {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 0.5rem 1rem;
}

.metadata .title {
  height: 20%;
}

.metadata .description {
  height: 60%;
}

.metadata .date {
  height: 20%;
}
