.projectContainer {
  display: flex;
  height: 150px;
}

.imageContainer {
  width: 20%;
}

.imageContainer .image {
  border-radius: 5px;
}

.metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 768px) {
  .projectContainer {
    height: fit-content;
  }

  .imageContainer {
    display: none;
  }

  .metadata {
    width: 100%;
  }

  .metadata .title {
    height: fit-content;
  }

  .metadata .description {
    height: fit-content;
  }

  .metadata .date {
    height: fit-content;
  }
}
